# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambientes Virtuais (Venv) ---
venv/
env/
.venv/
.env

# --- Docker ---
docker-compose.override.yml

# --- Celery & Logs ---
# Arquivos de agendamento e logs de erro
celerybeat-schedule
celerybeat.pid
*.log
*.pot

# --- IDEs e Editores ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema Operacional ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac 
.DS_Store

# Dados Locais
/data
/mongo_data
